/*
Main.css for 500 Days of Summer visualization
*/


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* /////////////// Main CSS ////////////// */

body {
	background: #f8f8f8;
}

#main-c {
width: 800px;
margin: 20px auto;
position:relative;
font-family: Helvetica, Arial, sans-serif;
background: #fff;
}

#heading-c {
opacity:0;
-webkit-transition: opacity 0.5s;
-moz-transition: opacity 0.5s;
-o-transition: opacity 0.5s;
transition: opacity 0.5s;
padding: 10px 20px;
min-height: 50px;
position: absolute;
top:10px;
left:-20px;
background:rgba(250,250,250,0.75);
border: 2px solid #eee;
z-index: 100;
}

#heading-c h3 {
font-weight: bold;
color: #A5AAD9;
line-height: 1.5em;
}

#heading-c h4 {
color: #aaa;
font-size: 0.8em;
line-height: 1.4em;
}

#heading-c a {
color:#A5AAD9;
padding: 2px 3px;
}
#heading-c a:hover {
color: #999fcc;
background-color: #eee;
}

#heading-c a.btn-tweet:hover {
color: #fff;
background-color: #41b7d8;
}
#heading-c a.btn-facebook:hover {
color: #fff;
background-color: #3b5997;
}

#info-c {
position:absolute;
width: 760px;
padding: 50px 20px;
}

#info-c > div {
text-align: center;
opacity: 0.5;
}

#day {
font-size: 4em;
padding-bottom: 5px;
-webkit-transition: opacity 0.5s;
-moz-transition: opacity 0.5s;
-o-transition: opacity 0.5s;
transition: opacity 0.5s;
}

#day > span {
color: #A5AAD9;
-webkit-transition: 0.5s;
-moz-transition: 0.5s;
-o-transition: 0.5s;
transition: 0.5s;
}

#place {
font-size: 1em;
-webkit-transition: opacity 1s;
-moz-transition: opacity 1s;
-o-transition: opacity 1s;
transition: opacity 1s;
color: #bbb;
}

#quote {
	padding: 0.5em 0;
	opacity: 0;
	-webkit-transition: opacity 1s;
	-moz-transition: opacity 1s;
	-o-transition: opacity 1s;
	transition: opacity 1s;
}

#quote pre {
	font-size: 1em;
	font-style: italic;
	font-family: Georgia;
	display:inline-block;
	background: "#A5AAD9";
	color: #eee;
	padding: 0.75em 1em;
	line-height: 1.25em;
}

#info-footer {
visibility: hidden;
position:absolute;
top: 550px;
left: 635px;
font-size: 0.9em;
}

#info-footer li > span {
color: #f8f8f8;
display:inline-block;
padding: 4px 5px 2px;
font-size: 0.9em;
}

#info-footer li > .legend-icons {
width: 25px;
padding: 0px;
text-align: center;
}

#info-footer .heading {
padding: 5px 0px 5px 25px;
font-style: italic;
}

#splash {
position:absolute;
top: 200px;
left: 100px;
width: 560px;
background: #050505 url("./data/500-days-bg.jpg") no-repeat;
border: 2px solid #999;
padding: 150px 20px 20px 20px;

text-align:center;

opacity: 1;
-webkit-transition: opacity 0.5s;
-moz-transition: opacity 0.5s;
-o-transition: opacity 0.5s;
transition: opacity 0.5s;
}
#splash h2 {
color: #eee;
font-family: Georgia, serif;
font-size: 2em;
padding: 0.5em 0;
}
#splash p{
color: #bbb;
padding: 0.2em 0;
font-size: 0.8em;
line-height: 1.2em;
}
#splash em{
color: #ddd;
font-style: italic;
}

#splash button {
margin: 0;
}

#splash button {
background: #eee;
border: 2px solid #ccc;
padding: 0.5em 1em;
margin: 1em 0 0 0;
color: #111;
font-weight: bold;
border-radius: 2px;
}
#splash button:hover {
background: #fff;
border-color: #aaa;
color: #000;
}
#screen {
	visibility: hidden;
	position:absolute;
	z-index: -1;
}